<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
.container-fluid {
    padding-right: 200px;
    padding-left: 160px;
    margin-right: auto;
    margin-left: auto;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 50px;
    font-size: 20px;
    line-height: 20px;
}
.mynav{
margin-bottom:56px;
}
</style>
</head>
<body>
<div class="mynav">
    <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="index">MOVIE INFO</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="get_data">All Movies</a></li>
      <li><a href="addMovie">Add Movie</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
</div>
</body>
</html>